<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Biographer</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

        <!-- JQuery and JQueryUI -->

        <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1.custom/jquery-ui.structure.min.css' %}">
        <link rel="stylesheet" href="{% static 'jquery-ui-1.12.1.custom/jquery-ui.theme.min.css' %}">

        <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
        {% block header %}{% endblock %}
    </head>

    <body>
        <main role="main" class="container-fluid align-items-center">
          {% block content %}{% endblock %}
        </main>

        {% block footer %}{% endblock %}
    </body>
</html>
